<div id="localStories" class="hide">
<%= partial './partials/story1' %>
<%= partial './partials/story2' %>
<%= partial './partials/story3' %>
<%= partial './partials/story4' %>
<%= partial './partials/story5' %>
</div>
